name: Code Analysis

permissions: read-all

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: '0 0 * * 1' # Every Monday at 00:00 UTC

jobs:
  type-check:
    name: TypeScript Check
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install Dependencies
        run: bun install --ci

      - name: Type Checking
        run: bun run type-check
